<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./css/approval.css" rel="stylesheet" type="text/css">
        <script src="./js/tuttree_approval.js"></script>           
    </head>

    <body>
        <div id="leftPanel" class="leftPanel"> </div>
        <div class="upperPanel">
                <center>
                     <button type="button" onclick='approve_current_record()'>A</button> 
                     <button type="button" onclick='reject_current_record()'>R</button><br>
                      Press A to Approve the  currently master<br>
                      Press R to Reject the  currently master<br>
                </center>
        </div>  
        <div id= "rightPanel" class="rightPanel"></div>
        <div id= "bottomPanel"></div>
    </body>

</html>
